<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
 <head>
 <meta charset="UTF-8"/>
	 <title> Pesquisa usuario </title>
	 <link rel="stylesheet" type="text/css" href="/../../css/bootstrap.min.css" />
	 <link rel="stylesheet" type="text/css" href="/../../css/style.css"/>
</head>

<body>
	<div class="panel-title">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center col-md1">#</th>
					<th>Descricao</th>
					<th class="text-center col-md2">Nome</th>
					<th class="text-center col-md2">Cpf</th>
					<th class="text-center col-md2">Data Nascimento</th>
					<th class="text-center col-md2">Status</th>
					<th class="col-md1"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="7">Nenhum cliente encontrado </td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>